#cart .table tbody tr td img{
    width: 50px;
}
#cart .table tbody tr td{
    vertical-align:middle;
}
#cart .table tfoot{
    font-size: 18px;
}
.box .box-footer{
    background-color: #f7f7f7;
    margin: 30px -20px -20px;
    padding: 20px;
    border-top: 1px solid #eeeeee;
}

.box .box-footer::before,
.box .box-footer::after{
    content: ' ';
    display: table;
}
.box .box-footer::after{
    clear: both;
}

.box .box-header{
    background-color: #f7f7f7;
    margin: -20px -20px 20px;
    padding: 20px;
    border-bottom: 1px solid #eeeeee;
}

#order-summary table{ margin-top: 20px;}
#order-summery table td{
    color: #999999;
}
#order-summary table tr.total td,
#order-summary table tr.total th{
    font-size: 18px;
    color: #555555;
    font-weight: 700;
}