.breadcrumb{
    padding: 8px 15px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 0;
    box-shadow: 0 1px 5px rgba(0,0,0,.5) ;
}
.breadcrumb > li + li::before{
    content: '|';
    color: #cccccc;
}


@media(max-width: 991px){
    .breadcrumb{
        padding: 8px 0;
        text-align: center;
    }
}


 .box{
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 1px 5px rgba(0,0,0,.1);
}

 .product{
    background-color: #fff;
    border:1px solid1px solid #e6e6e6;
    box-sizing: border-box;
    margin-bottom: 30px;

}

 .product .text p.price{
    font-size: 18px;
    text-align: center;
    font-weight: 300;
}

 .product .text .buttons{
    clear: both;
    text-align: center;
}
 .product .text h3{
    text-align: center;
    font-size: 20px;
}
 .product .text h3 a{
    color: rgb(85,85,85);
}
 .product .text{
   padding: 10px 10px 10px;
}
 .product .text .buttons .btn{
  margin-bottom: 10px;
}